@import 'bootstrap.css';

.repo-list li{
    display: inline-block;
    margin: 10px;
    padding : 5px;
    border: 1px solid #ccc;
    text-transform: uppercase;
}

.repo-list li > span{
    padding: 5px;
}

.repo-list li > button{
    float: right;
    background: #ccc;
}
.repo-list li > button.active{
    background: #666;
    color: white;
}